.EditMenu_Main {
  width: 70vw;
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .EditMenu_Main {
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .EditMenu_Main {
    margin: 5rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .EditMenu_Menu {
    margin: 2rem auto;
    width: 70%;
  }
}

@media (max-width: 850px) {
  .EditMenu_Main {
    width: 80vw;
    margin: 2rem auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
  }
}
