.EditRestaurant_Buttons {
  width: 70vw;
  margin: 10rem auto;
  display: flex;
  justify-content: space-evenly;
}

.EditRestaurant_Buttons button {
  padding: 1rem;
  font-size: var(--heading-size-tertiary);
  border-radius: 4px;
  border: none;
  background-color: white;
  cursor: pointer;
  position: relative;
  transition: 0.4s all;
}

.EditRestaurant_Buttons button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-width: 0 0 1px 1px;
  color: black;
  transition: 0.5s all;
}
.EditRestaurant_Buttons button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-width: 1px 1px 0 0;
  color: black;
  transition: 0.5s all;
  opacity: 1;
}

.EditRestaurant_Buttons button:hover:before {
  width: 100%;
  border: 1px solid black;
  border-width: 0px 0px 1px 1px;
  height: 100%;
}

.EditRestaurant_Buttons button:hover:after {
  width: 100%;
  border: 1px solid black;
  border-width: 1px 1px 0 0;
  height: 100%;
}


.EditRestaurant_Main {
  width: 70vw;
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
}

.EditRestaurant_Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.EditRestaurant_Form input,
.EditRestaurant_Form textarea {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
  border: var(--border-dark);
  margin: 1rem 0rem;
}
