.WelcomeSection {
  background-image: url("../../../assets/platter-2009590_1920.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  height: 100vh;
}

.WelcomeSection_Content {
  display: flex;
  flex-direction: column;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.475);
  color: white;
}

.WelcomeSection_TextContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.WelcomeSection_Text {
  font-size: var(--heading-size-primary);
}

@media (max-width: 450px) {
  .WelcomeSection_TextContainer {
    width: 70%;
    margin: 0 auto;
  }
}
