.RegisterPage {
  width: 70vw;
  margin: 0 auto;
}

.RegisterPage_Form {
  width: 50%;
  margin: 0 auto;
}

.RegisterPage_Header {
  width: 70vw;
  margin: 0 auto;
  border-bottom: var(--border-dark);
}