.RegisterPage {
  width: 70vw;
  margin: 0 auto;
}

.RegisterPage_Form {
  width: 50%;
  margin: 0 auto;
}

.RegisterPage_Header {
  width: 70vw;
  margin: 0 auto;
  border-bottom: var(--border-dark);
}

@media (max-width: 850px) {
  .RegisterPage {
    width: 80vw;
  }
  .RegisterPage_Header {
    width: 80vw;
  }
}
