.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  padding: 1.5rem 0rem 1rem 0rem;
  padding-bottom: var(--padding-borderBottom);
  border-bottom: var(--border-light);
}

.Navigation_Logo {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: var(--heading-size-secondary);
  font-family: "Roboto", sans-serif;
}

.Navigation {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  color: inherit;
}

.Navigation_LinkHomePage,
.Navigation_Link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s all;
  position: relative;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.Navigation_Link {
  color:inherit;
}

.Navigation_Login,
.Navigation_LoginVissible {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-top: 1.25rem;
  transition: .4s all;
}

.Navigation_Login span,
.Navigation_LoginVissible span{
  padding: .5rem 0rem;
}

.Navigation_LoginVissible {
  opacity: 1;
}

/* ********* PSEUDO CLASSES ********* */
.Navigation_LinkHomePage:before,
.Navigation_Link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid white;
  border-width: 0;
  transition: 0.5s all;
  opacity: 1;
}
.Navigation_LinkHomePage:after,
.Navigation_Link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 0 solid white;
  border-width: 0;
  transition: 0.5s all;
  opacity: 1;
}

/* ******* HOVER ********* */
.Navigation_Link:hover:before,
.Navigation_LinkHomePage:hover:before {
  width: 100%;
  border: 1px solid white;
  border-width: 0px 0px 1px 1px;
  height: 100%;
  opacity: 1;
}

.Navigation_Link:hover:after,
.Navigation_LinkHomePage:hover:after {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-width: 1px 1px 0 0;
  opacity: 1;
}

.Navigation_Link:hover:after,
.Navigation_Link:hover:before {
  color: inherit;
  border-color: inherit;
}

.Navigation_Link:after,
.Navigation_Link:before {
  color: inherit;
  border-color:inherit;
}
