.FoodCategories_Category {
  cursor: pointer;
  text-align: start;
  font-size: 2.2rem;
}

.FoodCategories_CategoryFigure {
  max-height: 550px;
  min-height: 375px;
  overflow: hidden;
  border-radius: 7px;
}

.FoodCategories_CategoryImage {
  width: 100%;
  display: block;
  transition: 0.5s all;
}

.FoodCategories_CategoryImage:hover {
  transform: scale(1.02);
}

.FoodCategories_CategoryRestaurant {
  padding: 5px;
}

.FoodCategories_CategoryAmount {
  padding: 5px;
}

@media (max-width: 2400px) {
  .FoodCategories_Category {
    font-size: 1rem;
  }

  .FoodCategories_CategoryFigure {
    max-height: 375px;
    min-height: 375px;
    border-radius: 4px;
  }

  .FoodCategories_CategoryRestaurant {
    padding: 2px;
  }

  .FoodCategories_CategoryAmount {
    padding: 2px;
  }
}

@media (max-width: 2200px) {
  .FoodCategories_CategoryFigure {
    max-height: 240px;
    min-height: 240px;
  }
}

@media (max-width: 1500px) {
  .FoodCategories_Category {
    font-size: .8rem;
  }
  .FoodCategories_CategoryFigure {
    max-height: 240px;
    min-height: 240px;
  }
}

@media (max-width: 1400px) {
  .FoodCategories_CategoryFigure {
    max-height: 260px;
    min-height: 260px;
  }
}

@media (max-width: 1150px) {
  .FoodCategories_CategoryFigure {
    max-height: 200px;
    min-height: 200px;
  }
}

@media (max-width: 900px) {
  .FoodCategories_CategoryFigure {
    max-height: 150px;
    min-height: 150px;
  }
  .FoodCategories_Category {
    font-size: 0.7rem;
  }
}

@media (max-width: 400px) {
  .FoodCategories_CategoryFigure {
    max-height: 130px;
    min-height: 130px;
  }
  .FoodCategories_Category {
    font-size: 0.65rem;
  }
  .FoodCategories_CategoryRestaurant {
    padding: 1px;
  }
  .FoodCategories_CategoryAmount {
    padding: 1px;
  }
}

@media (max-width: 350px) {
  .FoodCategories_CategoryFigure {
    max-height: 110px;
    min-height: 110px;
  }
  .FoodCategories_Category {
    font-size: 0.6rem;
  }
}
