.RestaurantsPage_Header {
  width: 70vw;
  margin: 0 auto;
  border-bottom: var(--border-dark);
}

.RestaurantsPage_Restaurants {
  width: 70vw;
  margin: 0 auto;
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.RestaurantsPage_Title {
  font-size: var(--heading-size-secondary);
}

.RestaurantsPage_Title::first-letter {
  text-transform: uppercase;
}

.RestaurantsPage_TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-dark);
  padding-bottom: var(--padding-borderBottom);
}

.RestaurantsPage_Icons {
  width: 7%;
  display: flex;
  justify-content: space-between;
}

.RestaurantsPage_Icon {
  font-size: 2.75rem !important;
  cursor: pointer;
  transition: .4s all !important;
}
.RestaurantsPage_IconActive {
  color: rgb(124, 222, 255) !important;
}

.RestaurantsPage_Icon:hover {
  color: rgb(42, 202, 255) !important;
}

.RestaurantsPage_FilteredRestaurants {
  margin-bottom: 5rem;
}

.RestaurantsPage_Grid {
  display: grid;
  grid-template-rows: repeat(1, 3fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.RestaurantsPage_Column {
  display: grid;
  grid-template-rows: repeat(2, 3fr);
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5rem;
}

.RestaurantsPage_GridTitle {
  margin: 2rem 0rem 1rem 0rem;
  font-size: var(--heading-size-tertiary);
}

.RestaurantsPage_NoRestaurants {
  text-align: center;
  margin: 10rem 0;
  font-size: var(--heading-size-secondary);
}