.CustomersProfile {
  width: 70vw;
  margin: 0 auto;
}

.CustomersProfile_Header {
  width: 70vw;
  margin: 0 auto;
  border-bottom: var(--border-dark);
}

.CustomersProfile_Title {
  border-bottom: var(--border-dark);
  padding-bottom: var(--padding-borderBottom);
  font-size: var(--heading-size-secondary);
  text-align: start;
  margin: 2rem 0rem 3rem 0rem;
}

.CustomersProfile_BookedMealsTitle {
  margin: 2rem 0rem 1rem 0rem;
  font-size: var(--heading-size-tertiary);
  text-align: start;
}

.CustomersProfile_BookedMeals {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.CustomersProfile_Grid {
  display: grid;
  grid-template-rows: repeat(1, 3fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
