.Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  background-color: rgba(245, 245, 245, 0.281);
}

.Footer_Title {
  font-size: var(--heading-size-primary);
}

.Footer_Links {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.Footer_Link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: .4s all;
}

.Footer_Link:hover {
  color: lightblue;
}

.Footer_Social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin: 0 auto;
}

.Footer_Icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.Footer_Icons a {
  text-decoration: none;
  color: black;
}

.Footer_Icon {
  font-size: 2rem !important;
  cursor: pointer;
}