.Meal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  padding: 1rem 0rem;
  margin-bottom: 1.5rem;
  text-align: start;
  border-top: var(--border-dark);
  border-bottom: var(--border-dark);
  position: relative;
}

.Meal_Figure {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  min-width: 40%;
  max-width: 40%;
  max-height: 250px;
}

.Meal_Info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: stretch;
  min-width: 60%;
  max-width: 60%;
}

.Meal_Image {
  width: 100%;
  display: block;
  transition: 0.5s all;
}

.Meal_Image:hover {
  transform: scale(1.02);
}

.Meal_Name {
  font-size: var(--heading-size-tertiary);
}

.Meal_Description {
  font-size: 1.4rem;
  width: 90%;
}

.Meal_PriceDetails {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.Meal_Price {
  font-size: 1.5rem;
  color: rgba(0, 78, 114, 0.856);
}

.Meal_Bookmark {
  display: flex;
  align-items: center;
}

.Meal_Count {
  font-size: 1.5rem;
}

.Meal_BookmarkIcon {
  cursor: pointer;
  font-size: 2rem !important;
  margin: 0rem 0.75rem !important;
}

.Meal_BookmarkIcon:hover + .Meal_IconLabel {
  opacity: 1;
}

.Meal_IconLabel {
  opacity: 0;
  position: absolute;
  bottom: 5%;
  left: 37.5%;
  transition: 0.4s all;
}

.Meal_Edit {
  font-size: 2rem !important;
  position: absolute;
  transition: 0.4s all !important;
  top: 30%;
  right: -50px;
  cursor: pointer;
  color: rgba(0, 78, 114, 0.856);
}

.Meal_Delete {
  font-size: 2rem !important;
  position: absolute;
  transition: 0.4s all !important;
  top: 60%;
  right: -50px;
  cursor: pointer;
  color: rgba(0, 78, 114, 0.856);
}

.Meal_Select {
  position: absolute;
  transition: 0.4s all !important;
  top: 45%;
  right: -100px;
  color: rgba(0, 78, 114, 0.856);
}

.Meal_SelectLabel {
  opacity: 0;
  position: absolute;
  top: 48.5%;
  right: -140px;
  transition: 0.4s all;
}
.Meal_Select:hover + .Meal_SelectLabel {
  opacity: 1;
}

.Meal_Edit:hover,
.Meal_Delete:hover {
  color: rgba(0, 113, 165, 0.856);
}
