.Modal_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.Modal {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 45vh;
  color: black;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(236, 250, 255);
  /* background-color: black; */
  padding: 1.5rem;
}

.Modal_Title {
  font-size: var(--heading-size-secondary);
  font-weight: 500;
}

.Modal_Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
  flex-grow: 1;
}

